### PROYECTO TITANIC

##### Importamos pandas a nuestro codigo

In [1]:
import pandas as pd

##### Extraccion: Leemos el archivo csv

In [2]:
df = pd.read_csv('train.csv')

##### Mostramos las 5 primeras filas del archivo para ver como estuvo la lectura

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##### Transformacion: Inspeccionamos los datos
print(df.info()): Este comando proporciona un resumen conciso del DataFrame df (Numero de entradas, columnas, tipos de datos, valores nulos, uso de memoria). Este comando es útil para obtener una visión general rápida de la estructura de tu DataFrame y para identificar posibles problemas, como valores nulos.
print(df.describe()): Este comando genera estadísticas descriptivas para las columnas numéricas del DataFrame df. Aquí tienes lo que incluye:count, mean, std, min, cuartiles, max. Este comando es útil para obtener una comprensión rápida de la distribución y las características estadísticas de tus datos numéricos.

In [3]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

##### Con np.shape() vemos el tamaño del dataset

In [9]:
df.shape

(891, 11)

##### Buscamos valores nulos por columna
print(df.isnull().sum()): Esta línea realiza dos operaciones principales: df.isnull(): Este método devuelve un DataFrame del mismo tamaño que df, pero con valores booleanos (True o False). Un valor True indica que el valor correspondiente en df es nulo (es decir, NaN), mientras que un valor False indica que no es nulo.
.sum(): Este método se aplica al DataFrame resultante de df.isnull(). Suma los valores True (que se tratan como 1) a lo largo de cada columna, devolviendo una Serie con el conteo de valores nulos por columna.

In [10]:
print("Valores nulos por columna:")
print(df.isnull().sum())

Valores nulos por columna:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

##### Buscar duplicados

In [11]:
print("Número de filas duplicadas:")
print(df.duplicated().sum())

Número de filas duplicadas:
0

##### Guardo los datos filtrados por fecha en un archivo .csv para utilizarlo en adelante

In [12]:
df.to_csv('DatosFinalesFiltrados.csv',index=False)

##### Almaceno mi dataset ya filtrado en una nueva variable llamada archivo_data

In [13]:
archivo_data=pd.read_csv('DatosFinalesFiltrados.csv')

##### Aplico un ciclo for para el calculo de estadistica descriptiva y otras metricas importantes. Estas metricas ayudan en el analisis de datos al proporcionar una vision rapida y resumida de la distribucion y dispersion de los datos, permitiendo identificar patrones, tendencias y posibles anomalias.  Pandas no muestra todas las estadisticas para todas las columnas por defecto. Las estadisticas descriptivas se calculan principalmente para columnas numericas.  Para columnas no numericas (como las del tipo objeto), pandas solo muestra el conteo, el numero de valores unicos, el valor mas frecuente (top) y su frecuencia (freq).  La razon es que las metricas como la media, desviacion estandar, cuartiles, etc, no son aplicables a datos categoricos o de texto.  Estas metricas tienen sentido solo para datos numericos. La mediana es el valor que se encuentra en el centro de un conjunto de datos ordenados, de manera que la mitad de los datos son menores que ella y la otra mitad son mayores.

In [14]:
for i in archivo_data.columns:
    print(i)
    print(archivo_data[i].describe())
    print('-------------------------------------')

PassengerId
count    891.000000
mean     446.000000
std      257.353842
min        1.000000
25%      223.500000
50%      446.000000
75%      668.500000
max      891.000000
Name: PassengerId, dtype: float64
-------------------------------------
Survived
count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64
-------------------------------------
Pclass
count    891.000000
mean       2.308642
std        0.836071
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64
-------------------------------------
Name
count                     891
unique                    891
top       Dooley, Mr. Patrick
freq                        1
Name: Name, dtype: object
-------------------------------------
Sex
count      891
unique       2
top       male
freq       577
Name: Sex, dtype: object
-------------------------------------
Age
count    891.000000
mean      29.361582
std       13.019697
min        0.420000
25%       22.000000
50%       28.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64
-------------------------------------
SibSp
count    891.000000
mean       0.523008
std        1.102743
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        8.000000
Name: SibSp, dtype: float64
-------------------------------------
Parch
count    891.000000
mean       0.381594
std        0.806057
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        6.000000
Name: Parch, dtype: float64
-------------------------------------
Ticket
count        891
unique       681
top       347082
freq           7
Name: Ticket, dtype: object
-------------------------------------
Fare
count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64
-------------------------------------
Embarked
count     891
unique      3
top         S
freq      646
Name: Embarked, dtype: object
-------------------------------------

##### Se crea una funcion para obtener la media, la varianza y el rango. La mediana es una medida de tendencia central que es más resistente a los valores atípicos que la media. La varianza y el rango son medidas de dispersión que nos indican cuánto se dispersan los datos en torno a la mediana. En el conjunto de datos analizado, si la varianza y el rango son altos, esto indica que los datos se dispersan mucho en torno a la mediana, lo que puede sugerir que hay una gran variabilidad en los datos. Si la varianza y el rango son bajos, esto indica que los datos se agrupan cerca de la mediana, lo que sugiere que los datos son consistentes y no hay mucha variabilidad en torno a la mediana. Por otro lado, si la varianza y el rango son altos, esto indica que los datos se dispersan mucho en torno a la mediana, lo que sugiere que hay una gran variabilidad en los datos y que la mediana no es una representación precisa de los datos. En resumen, la mediana nos da una idea de la tendencia central de los datos, mientras que la varianza y el rango nos dan una idea de la dispersión de los datos en torno a la mediana.

In [15]:
def describir_datos(data):
    for i in data.columns:
        if data[i].dtype == 'float64' or data[i].dtype == 'int64':
            print(i)
            print('Mediana:', data[i].median())
            print('Varianza:', data[i].var())
            print('Rango',data[i].max()-data[i].min())
            print('Moda',data[i].mode())
            print('---')

describir_datos(archivo_data)

PassengerId
Mediana: 446.0
Varianza: 66231.0
Rango 890
Moda 0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
---
Survived
Mediana: 0.0
Varianza: 0.23677221654749742
Rango 1
Moda 0    0
Name: Survived, dtype: int64
---
Pclass
Mediana: 3.0
Varianza: 0.6990151199889028
Rango 2
Moda 0    3
Name: Pclass, dtype: int64
---
Age
Mediana: 28.0
Varianza: 169.51249827942345
Rango 79.58
Moda 0    28.0
Name: Age, dtype: float64
---
SibSp
Mediana: 0.0
Varianza: 1.2160430774662985
Rango 8
Moda 0    0
Name: SibSp, dtype: int64
---
Parch
Mediana: 0.0
Varianza: 0.6497282437357343
Rango 6
Moda 0    0
Name: Parch, dtype: int64
---
Fare
Mediana: 14.4542
Varianza: 2469.436845743116
Rango 512.3292
Moda 0    8.05
Name: Fare, dtype: float64
---